
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources/style.css') }}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css">
    <title>Weather App</title>
    
</head>
<body>
    <div class="header">
            
        Hi {{username}}!! &nbsp; &nbsp; 
            <a href="{{ url_for('logout') }}" >Logout</a>
      </div><br><br>
    <form action="/weather" method="post">
        
        <div align="center">
            <div class="weather-card">
                <h1 style="color: green;">
                    Weather App
                </h1>
                                  
                <!--p>{{ msg }}</p-->
                <label for="city">Enter City Name:</label>
                <input type="text" id="city" name="city" placeholder=" " autocomplete="off" required>
                <div id="autocomplete-list">                
                </div> <br><br>
                <button type="submit" id="submit_button">Get Weather</button>
                <div id="error_message" class="error-message"></div>
                <div id="loading_spinner" class="spinner"></div>
            
            </div>
            <p><em><a href="{{ url_for('history') }}">View Search History</a></em></p>
            {% if error %}
    <p></p>
        <p style="color:red;"><b>{{ error }}</b></p>
    {% endif %}
        </div>
       <!--input type="text" name="city" placeholder="Enter city name" required>
        <button type="submit">Get Weather</button-->
            <script type="text/javascript" src="{{ url_for('static', filename='resources/scripts.js')}}"></script>
    </form>    
    <div>    
</div>
<script type="text/javascript" src="{{ url_for('static', filename='autocomplete.js')}}"></script>
</body>
</html>
