
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='resources/style.css') }}">
  <title>Weather Forecast for {{ city }}</title>	
</head>

<body>
	
	<div class="header">
		<p>Weather Forecast</p>
	</div>
    <div align="center">
		

		<h1>{{ weather[0]}}</h1>
  <h2><p id="description">{{ weather[2] }}</p></h2>
  <div id="main-temp">
    <img src="{{weather[5]  }}" />
    <p>{{ weather[1]}}°C<span id="alternate">|°F</span></p>
  </div>
  <div id="other-details">
  
	<p> 
    
	Wind Speed {{ weather[3] }} Miles/hr<br>
	Date : {{ weather[4] }}<br>
	<b>Holiday Tips: {{weather[6]}}</b></p>
	
	    
	</div>
	<table>
		<thead>
		  <tr>
			<th colspan="3">Next 5-day Forecast</th>
		  </tr>
		</thead>
		<tbody>
			 
		  {% for date in weather[7] %}
		  <tr>
			<td class="forecast-days">{{ date.strftime("%A") }}</td>
			<td class="forecast-icons"><img
				src="{{ url_for('static', filename='icons/' + weather[7][date]['icon'] + '.svg') }}"
				class="forecast-icon"></td>
			<td class="forecast-temps">{{ weather[7][date]['max_temp'] }}°C / {{ weather[7][date]['min_temp'] }}°C
			</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	  <script type="text/javascript" src="{{ url_for('static', filename='resources/scripts.js')}}"></script>
	<a href="/">Search Again</a>
    <a href="{{ url_for('history') }}">View Search History</a>

	<script src=
"https://code.jquery.com/jquery-3.6.0.min.js">
	</script>
	<script src=
"https://momentjs.com/downloads/moment.min.js">
	</script>
</body>
</html>
